.languageSwitcher {
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: flex-end;
  padding: 20px;

  label {
    margin-right: 5px;
  }

  select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
}

@media (max-width: 768px) {
  .languageSwitcher {
    margin: 1em 0;
    padding: 0;
  }
}